
@{
    ViewBag.Title = "Karyawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}

<h2>Master Karyawan</h2>
<input type="hidden" id="urlPath" name="urlPath" value="@ViewBag.pathParent" />

<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div id="gridKaryawan" style="width: 100%; font-size:small;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="formKaryawan" style="font-size:small;">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Input Data Karyawan</h2>
            </div>
            <div class="body">
                <div class="demo-masked-input">
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Nrp</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" id="inputNrp" onchange="loadDataEllipse()" placeholder="isi Nrp">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Nama</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputNama" placeholder="isi Nama">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Tempat Lahir</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputTempatLahir" placeholder="isi Tempat Lahir">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Tgl Lahir</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control date inputAll" id="inputTglLahir" placeholder="isi Tanggal Lahir">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Jenis Kelamin</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputJnsKelamin">
                                        <option value="">PILIH---</option>
                                        <option value="M">Laki-Laki</option>
                                        <option value="F">Perempuan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Gol Darah</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputGolDarah">
                                        <option value="">PILIH---</option>
                                        <option value="O">O</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="AB">AB</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Status Kawin</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputStatusKawin">
                                        <option value="">PILIH---</option>
                                        <option value="S">Lajang</option>
                                        <option value="M">Menikah</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Agama</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputAgama">
                                        <option value="">PILIH---</option>
                                        <option value="Islam">Islam</option>
                                        <option value="Katolik">Katolik</option>
                                        <option value="Hindu">Hindu</option>
                                        <option value="Budha">Budha</option>
                                        <option value="Protestan">Protestan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Pendidikan</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputPendidikan" placeholder="isi Pendidikan">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Alamat Tinggal</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputAlamatTinggal" placeholder="isi Alamat Tinggal">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Jamsostek</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputJamsostek" placeholder="isi Jamsostek">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>DPA</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputDpa" placeholder="isi DPA">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Tgl Masuk Pama</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control date inputAll" id="inputTglMasukPama" placeholder="isi Tgl Masuk Pama">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Tgl Pensiun</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control date inputAll" id="inputTglPensiun" placeholder="isi Tgl Pensiun">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Tgl Promosi</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control date inputAll" id="inputTglPromosi" placeholder="isi Tgl Promosi">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Golongan</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputGolongan" placeholder="isi Golongan">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>IDJabatan</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputIDJabatan" placeholder="isi jabatan">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Tgl Mutasi</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control date inputAll" id="inputTglMutasi" placeholder="isi tgl mutasi">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Status Keluarga</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputStatusKeluarga">
                                        <option value="">PILIH---</option>
                                        <option value="S/0">S/0</option>
                                        <option value="S/1">S/1</option>
                                        <option value="S/2">S/2</option>
                                        <option value="S/3">S/3</option>
                                        <option value="M/0">M/0</option>
                                        <option value="M/1">M/1</option>
                                        <option value="M/2">M/2</option>
                                        <option value="M/3">M/3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Status Bawa Keluarga</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputStatusBawaKeluarga">
                                        <option value="">PILIH---</option>
                                        <option value=true>Bawa</option>
                                        <option value=false>TidakBawa</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Tgl Bawa Keluarga</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control date inputAll" id="inputTglBawaKeluarga" placeholder="isi tgl bawa keluarga">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Departemen</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputDepartemen">
                                        <option value="">PILIH---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Status Penerimaan</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputStatusPenerimaan">
                                        <option value="">PILIH---</option>
                                        <option value="KIRIMAN">KIRIMAN</option>
                                        <option value="LOKAL">LOKAL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>POH</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputPOH">
                                        <option value="">PILIH---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Telepon</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputTelepon" placeholder="isi Telepon">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Lokasi</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputLokasi" placeholder="isi Lokasi">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>OnSite</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputOnSite">
                                        <option value="">PILIH---</option>
                                        <option value=true>OnSite</option>
                                        <option value=false>OffSite</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Company</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputCompany">
                                        <option value="">PILIH---</option>
                                        <option value="PAMA">PAMA</option>
                                        <option value="TSA">TSA</option>
                                        <option value="SKS">SKS</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Rekening</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputRekening" placeholder="isi No Rekening">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Pemilik Rekening</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputPemilikRekening" placeholder="isi Nama Pemilik">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Bank</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputKodeBank">
                                        <option value="">PILIH---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>KTP</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputKTP" placeholder="isi No Ktp">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>NPWP</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputNPWP" placeholder="isi No NPWP">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Email</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil inputAll"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputEmail" placeholder="isi Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <b>Telp W.A</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control inputAll" id="inputTelpWa" placeholder="isi Telp W.A">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <b>Hari Ke 7</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <div class="form-line">
                                    <select class="form-control show-tick inputAll" id="inputHariKe7">
                                        <option value="">PILIH---</option>
                                        <option value="Minggu">Minggu</option>
                                        <option value="Senin">Senin</option>
                                        <option value="Selasa">Selasa</option>
                                        <option value="Rabu">Rabu</option>
                                        <option value="Kamis">Kamis</option>
                                        <option value="Jumat">Jumat</option>
                                        <option value="Sabtu">Sabtu</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <b>&nbsp;</b>
                            <div class="input-group">
                                <button class="btn btn-md btn-info" type="button" onclick="saveData()"> Simpan</button>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <b>&nbsp;</b>
                            <div class="input-group">
                                <button class="btn btn-md btn-danger" type="button" onclick="resetData()"> Batal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@ViewBag.pathParent/Js/hrga.master.karyawan.js"></script>

@*<script type="text/javascript" charset="utf-8">

        $("#sheetKaryawan").kendoSpreadsheet();

        var spreadsheet = $("#sheetKaryawan").data("kendoSpreadsheet"); // The widget instance.

        var sheet = spreadsheet.activeSheet(); // The current active sheet.

        var range = sheet.range("A1:B2"); // A 2x2 cell range.

        range.value("foo").color("green");
    </script>*@